body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #8dafe6, #70badd);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
     padding-top: 40px;
  }
  
 .container {
  background: white;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  min-height: 500px; /* kam se kam itni height rahegi */
  width: 420px;
  text-align: center;
}


  html, body {
  height: 100%;
  margin: 0;
}

  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  
  
  
  button {
  background: linear-gradient(90deg, #465dc5, #25dce6);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 19px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #00c6ff, #0072ff);
}

  